services:
  db:
    image: mysql:8.0
    container_name: tetherfi-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: TetherfiChatDB
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 10s
      retries: 5

  identity-api:
    build: ./Tetherfi.Identity.Service
    container_name: identity-service
    ports:
      - "7277:8080"
    depends_on:
      db:
        condition: service_healthy # Wait for MySQL to be fully "green"
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=IdentityDB;Uid=root;Pwd=root_password;
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development

  chat-api:
    build: ./Tetherfi.Chat.Service
    container_name: chat-service
    ports:
      - "7151:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=ChatDB;Uid=root;Pwd=root_password;
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development

  frontend:
    build: ./tetherfi-chat-ui
    container_name: chat-ui
    ports:
      - "5173:80"
    depends_on:
      - identity-api